<section class="movies_header">

<h1>Movies</h1>

<div class="moverboton">
<a href="/movies/random_movies?" class="rotate">
	<span></span>
    <span></span>
    <span>Random<br><br>movie!</span>
</a>
</div>

<%= form_tag(search_movies_path, method: :get) do %>
<%= text_field_tag'title',nil, placeholder: 'Search movie by title...' %>
<%= submit_tag'Search', class: 'submit_search' %>
<% end %>

<dl class="accordion" data-accordion="">
  <dd class="accordion-navigation">
    <a href="#panel1">Search by category &#8616;</a>
    <div id="panel1" class="content">
        <dl class="tabs" data-tab="">
	      	<div class="category_form">
				<form accept-charset="UTF-8" action="/movies/search_category" method="get"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
					<div>
						<%  Category.all.each do |category| %>
				   			<div class="each_category"> <%= check_box_tag 'category[]', category.name %> <%= category.name %> </div>
						<% end %>
					</div>

					<div class="submit_category_search">
						<input name="commit" type="submit" value="Search">
					</div>
				</form>
			</div>
	  	</dl>
	  	</div>
	</dd>
</dl>

</section>


<section class='movie_list'>
	<% if @movies == [] %>
		There isn´t any movies in data base
	<%else%>
		<ul><% @movies.each do |movie| %>
			<div class='movie_preview'>
			<% if movie == nil %>
				There isn´t any movie
			<% else %>
				<li>
					<h4><%= link_to(movie.title, movie_path(movie.id)) %></h4> <br> ID: <%= movie.id %> -View: <%= movie.counter %>
					<p><%= link_to("View +1", increment_counter_movie_path(movie), method: :patch) %></p>
					<p><%= link_to("View -1", reduce_counter_movie_path(movie), method: :patch) %></p>
					<br><%= link_to(image_tag(movie.poster, alt: movie.poster), movie_path(movie)) %></br>

				</li>

				<p><%= link_to("Edit", edit_movie_path(movie)) %></p>
				<p><%= link_to("Delete",  movie_path(movie), method: :delete, data:{confirm: "Are you sure?"}) %></p>
			<% end %>	
			</div>
		<%end%></ul>
	<% end %>
</section>

<div class='pagination_section'><p><%= paginate @movies %></p></div>

<script src="assets/jquery.js"></script>
<script src="assets/foundation.js"></script>
<script src="assets/foundation.accordion.js"></script>

<script>
  $(document).foundation({
    accordion: {
      callback : function (accordion) {
        console.log(accordion);
      }
    }
  });
</script>