<h1>INDEX</h1>

<%= form_tag(search_movies_path, method: :get) do %>
<%= text_field_tag('title') %>
<%= submit_tag('Search') %>
<% end %>
<form accept-charset="UTF-8" action="/movies/search_category" method="get"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
	<input id="name" name="drama" type="checkbox">
	Drama
	<input id="name" name="horror" type="checkbox">
	Horror
	<input id="name" name="comedy" type="checkbox">
	Comedy
	<input id="name" name="history" type="checkbox">
	History
<input name="commit" type="submit" value="Search">
</form>

<!--<%= form_tag(search_category_movies_path, method: :get) do %>
<%= text_field_tag('name') %>
<%= submit_tag('Search') %>
<% end %>-->

<ul>	<% @movies.each do |a| %>
	<li>
		<%= link_to(a.title, movie_path(a.id)) %> -ID: <%= a.id %> -View: <%= a.counter %>
		<p><%= link_to("View +1", movie_increment_counter_path(a), method: :patch) %></p>
		<p><%= link_to("View -1", movie_reduce_counter_path(a), method: :patch) %></p>
		<%if a.poster? %>
			<br><%= link_to(image_tag(a.poster), movie_path(a)) %></br>
		<%else%>
		<br><img src="http://www.alpharoto.com/images/image_not_found.jpg"/></br>
		<%end%>
	</li>
	<p><%= link_to("Edit", edit_movie_path(a)) %></p>
	<p><%= link_to("Delete",  movie_path(a), method: :delete, data:{confirm: "Are you sure?"}) %></p>
	<%end%>
</ul>

<p><%= paginate @movies %></p>