<div class= 'movie_show_items'>
	<h1><%= @movie.title%></h1>

	<ul>
		<li>Watch the trailer: <a href="<%= @movie.trailer_url%>" target="_blank">here</a></li>
		<br>
		<img src="<%= @movie.poster %>"/>
		<br>
		<li><%= @movie.year%></li>
		<br>
		<li><% @movie.categories[0..@movie.categories.length - 2].each do |category|%>
			<%= link_to(category.name,  category_path(category)) %>, 
		<%end%>
			<%= link_to(@movie.categories.last.name,  category_path(@movie.categories.last)) %>.
		</li>
		<br>
		<p id='synopsis'>Synopsis</p>
		<div id="plot"><li><%= @movie.plot%></li></div>
		<br>
		<p id='synopsis'>Cast members</p>
		<p><li><% @movie.cast_members[0..8].each do |a|%>
			<%= a.full_name %>, 
			<%end%>
		<%= @movie.cast_members.last.full_name %>.
		</li></p>
		<br>
		<p><li>Add your Review here: <%= link_to("Add review", new_movie_review_path(@movie)) %></li></p>
		<br>
		<p><li>See all the reviews here: <%= link_to("See reviews",  movie_reviews_path(@movie)) %></li></p>
	</ul>
</div>