<h1>Movie <%= @movie.id%></h1>
<ul>
<li><%= @movie.title%></li>
<li><%= @movie.trailer_url%></li>
<%if @movie.poster? %>
			<br><img src="<%= @movie.poster %>"/></br>
		<%else%>
		<br><img src="http://www.alpharoto.com/images/image_not_found.jpg"/></br>
		<%end%>
<li><%= @movie.year%></li>
<li><% @movie.categories.each do |category|%>
	<%= category.name %>, 
<%end%>
</li>

<p><li><%= @movie.plot%></li></p>
<p><li><% @movie.cast_members.each do |a|%>
	<%= a.full_name %>, 
	<%end%>
</li></p>
<p><li>Add your Review here: <%= link_to("Add review", new_movie_review_path(@movie)) %></li></p>
<p><li>See all the reviews here: <%= link_to("See reviews",  movie_reviews_path(@movie)) %></li></p>
<p><li>Return to your favourite  movies here: <%= link_to("Return", movies_path(@movie)) %></li></p>
</ul><!-- <%= @noko %> -->