<h1><%= @movie.title%></h1>
<ul>
<li>Watch the trailer: <a href="<%= @movie.trailer_url%>" target="_blank">here</a></li>
<br><img src="<%= @movie.poster %>"/></br>
<li><%= @movie.year%></li>
<li><% @movie.categories[0..@movie.categories.length - 2].each do |category|%>
	<%= category.name %>, 
<%end%>
	<%= @movie.categories.last.name %>.
</li>

<p><li><%= @movie.plot%></li></p>
<p><li><% @movie.cast_members[0..8].each do |a|%>
	<%= a.full_name %>, 
	<%end%>
<%= @movie.cast_members[9].full_name %>.
</li></p>
<p><li>Add your Review here: <%= link_to("Add review", new_movie_review_path(@movie)) %></li></p>
<p><li>See all the reviews here: <%= link_to("See reviews",  movie_reviews_path(@movie)) %></li></p>
<p><li>Return to your favourite  movies here: <%= link_to("Return", movies_path(@movie)) %></li></p>
</ul>