<div>
<%if @song.artist == nil %>
	Please,search another song.
<% else %>
	<% if @song.artist.id == nil %>
		Please,search another song.
	<% else %>
		<div class='song_show_items'><h1><%= @song.title %></h1>
		<p>Artist: <%= link_to(@song.artist.name, artist_path(@song.artist)) %></p>
		<br>
		<p>Categories: <% @song.artist.tags[0..@song.artist.tags.length - 2].each do |tag| %>
			<%= link_to(tag.name, tag_path(tag)) %>, 
		<% end %>
		<%= link_to(@song.artist.tags.last.name, tag_path(@song.artist.tags.last)) %>.
		</p>
		<br>
		<p>Number of listeners: <%= @song.listeners %></p>
		<br>
		</div>
		<div id='video_song'><%= @noko %></div>
		</div>
	<% end %>
<% end %>