<h1>Song</h1>
<div>
<h3>Title: <%= @track_first['name'] %></h3>
<p>Artist: <%= @track_first['artist'] %></p>
<p>Number of listeners: <%= @track_first['listeners'] %></p>

<%= @noko %>
</div>

<%= @lastFM_search_artist['artist']['bio']['summary'].to_s.html_safe %>