<!DOCTYPE html>
<html>
<head>
  <title>MoviesRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="fixed">
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
	    		<li class="name">
	    			<h1><a href="/">What Can I Do</a></h1>
	    		</li>
	<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    		
			</ul>

			<section class="top-bar-section">
	<!-- Left Nav Section -->
		    	<ul class="left show-for-small-up">
		    		<li class="has-dropdown not-click">
		        		<a href="#">Movies</a>
		        		<ul class="dropdown">
		        					<li><%= link_to("Movie list", movies_path) %></li>
		        					<li><%= link_to("Actors list", cast_members_path) %></li>
		        					<li><%= link_to("Categories", categories_path) %></li>
		        				</ul>
		        			</li>
		        			</ul>
		    		</li>
		    	</ul>
		    	<ul class="left show-for-large-up">
		    		<li class="has-dropdown not-click">
		        		<a href="#">Music</a>
		        		<ul class="dropdown">
		        					<li><%= link_to("Music", music_index_path) %></li>
		        					<li><%= link_to("Actors list", cast_members_path) %></li>
		        					<li><%= link_to("Categories", categories_path) %></li>
		        				</ul>
		        			</li>
		        			</ul>
		    		</li>
		    	</ul>

	<!-- Right Nav Section -->
		    	<ul class="right">
		    		
		    	</ul>
			</section>
		</nav>
	</div>
	<article>
		<%= yield %>
	</article>
</body>
</html>